body,
html {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    height: 100%;
    overflow: scroll;
    font-family: 'Arial', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    cursor: default;
    user-select: none;
    overflow-y: auto;
    max-width: 2000px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

h1,
p {
    font-size: 2rem;
}

#flashlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.gutter-image {
    position: fixed;
    top: 0;
    width: 120px;
    height: 100vh;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    /* Hide by default, show on desktop via media query */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: float 4s ease-in-out infinite alternate;
    pointer-events: none;
}

#gutter-left {
    left: 0;
}

#gutter-right {
    right: 0;
}

@media (min-width: 900px) {
    .gutter-image {
        display: block;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}