body,
html {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    cursor: default;
    user-select: none;
}

h1,
p {
    font-size: 2rem;
}

#flashlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}