body,
html {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    height: 100%;
    overflow: auto;
    font-family: 'Arial', sans-serif;
    cursor: url(assets/cursor.png), auto;
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

/* Hide scrollbars for Webkit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#content::-webkit-scrollbar {
    display: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    cursor: default;
    user-select: none;
    overflow-y: auto;
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s;
}

h1,
p {
    font-size: 2rem;
}

#flashlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.gutter-image {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100vh;
    padding-bottom: 8px;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    /* Hide by default, show on desktop via media query */
    background: none;
    pointer-events: none;
    overflow: hidden;
}

.gutter-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 12px;
    justify-content: flex-start;
    /* Optional: animate the whole column if you want */
}

.gutter-images img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    animation: float 4s ease-in-out infinite alternate;
}

#gutter-left {
    left: 0;
}

#gutter-right {
    right: 0;
}

@media (min-width: 900px) {
    .gutter-image {
        display: block;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}